.col-xs-2.bgr-gray-e{:align => "left"}
  %br/
  = link_to image_tag(book.picture_url,             |
    height: Settings.admin.books.picture_height,    |
    width: Settings.admin.books.picture_width), "#" |
  %br/
  %h6.color-gray-8= render "summary", book: book
  = link_to t("admin.show"), [:admin, book]
  | #{link_to t("admin.edit"), [:edit, :admin, book]} |
  \#{link_to t("admin.destroy"), [:admin, book], method: :delete, data: {confirm: I18n.t("admin.are_you_sure")}}
  %br/
  %br/
