<div class="row">
  <div class="col-md-3" align="center">
    <%= link_to image_tag(@book.picture_url,
      height: Settings.admin.books.picture_height300,
      width: Settings.admin.books.picture_width300), @book %>
    <br><br>
    <table class="w100pc">
      <tr>
        <th><%= button_to t("admin.edit"), [:edit, :admin, @book], class: "btn btn-primary btn-block", method: :get %></th>
        <th>&nbsp;&nbsp;</th>
        <th><%= button_to t("admin.back"), [:admin, :books], class: "btn btn-primary btn-block", method: :get %></th>
    </table>
  </div>
  <div class="col-md-9">
    <h3><%= @book.title.capitalize %></h3>
    <br>
    <table class="table table-hover">
      <tr>
        <th class="w15pc"><%= t "books.category:" %></th>
        <td><%= @book.category.name %></td>
      </tr>
      <tr>
        <th><%= t "books.author:" %></th>
        <td><%= @book.author %></td>
      </tr>
      <tr>
        <th><%= t "books.publish_date:" %></th>
        <td><%= @book.publish_date %></td>
      </tr>
      <tr>
        <th><%= t "books.number_page:" %></th>
        <td><%= @book.number_page %></td>
      </tr>
      <tr>
        <th><%= t "books.rate:" %></th>
        <td><%= @book.rate %></td>
      </tr>
      <tr>
        <th><%= t "books.favorite:" %></th>
        <td><%= @book.favorites.count %></td>
      </tr>
      <tr>
        <th><%=  t "books.review:" %></th>
        <td><%= @book.reviews.count %></td>
      </tr>
    </table>
  </div>
</div>
<hr>
<div>
  <h3><%= t "books.content:" %></h3>
  <em><%= @book.content %></em>
</div>
