<tr>
  <th>
    <%= link_to t("user.readings"), user_readings_path(user) %>
    <span class="badge"><%= user.readings.count %></span>
  </th>
</tr>
<tr>
  <th>
    <%= link_to t("user.favorites"), favorites_path(user) %>
    <span class="badge"><%= user.favorites.count %></span>
  </th>
</tr>
<tr>
  <th>
    <%= link_to t("user.comments"), "#" %>
    <span class="badge"><%= user.comments.count %></span>
  </th>
</tr>
<tr>
  <th>
    <%= link_to t("user.activities"), "#" %>
    <span class="badge"><%= user.activities.count %></span>
  </th>
</tr>
<tr>
  <th>
    <%= link_to t("user.requests"), requests_path(user) %>
    <span class="badge"><%= user.requests.count %></span>
  </th>
</tr>
<tr>
  <th>
    <%= link_to t("user.following"), follow_path(user, Settings.following_type) %>
    <span class="badge"><%= user.following.count %></span>
  </th>
</tr>
<tr>
  <th>
    <%= link_to t("user.followers"), follow_path(user, Settings.follower_type) %>
    <span class="badge"><%= user.followers.count %></span>
  </th>
</tr>
