<tr>
  <th><%= link_to t("user.history_read_book"), user_readings_path(user) %></th>
  <th align="right"><span class="badge"><%= user.read_books.count %></span></th>
</tr>
<tr>
  <th><%= link_to t("user.favorites"), favorites_path(user_id: user.id) %></th>
  <th align="right"><span class="badge"><%= user.favorites.count %></span></th>
</tr>
<tr>
  <th><%= link_to t("user.comments"), "#" %></th>
  <th align="right"><span class="badge"><%= user.comments.count %></span></th>
</tr>
<tr>
  <th><%= link_to t("user.activities"), activities_path(user_id: user.id) %></th>
  <th align="right"><span class="badge"><%= user.activities.count %></span></th>
</tr>
<tr>
  <th><%= link_to t("user.requests"), requests_path(user) %></th>
  <th align="right"><span class="badge"><%= user.requests.count %></span></th>
</tr>
<tr>
  <th><%= link_to t("user.following"), follow_path(user, Settings.following_type) %></th>
  <th align="right"><span class="badge"><%= user.following.count %></span></th>
</tr>
<tr>
  <th><%= link_to t("user.followers"), follow_path(user, Settings.follower_type) %></th>
  <th align="right"><span class="badge" id="followers"><%= user.followers.count %></span></th>
</tr>
<tr><th></th><th></th></tr>
