<div class="col-md-2">
  <%= link_to t("book.write-review"), "#", class: "btn btn-primary btn-block", id: "create-review" %>
</div>
<div class="col-md-2">
  <% if current_user.added_favorite? @book %>
    <%= render "remove_favorite" %>
  <% else %>
    <%= render "add_favorite" %>
  <% end %>
</div>
<div class="col-md-2">
  <%= render "reading_button" %>
</div>
<div class="col-md-2">
  <%= render "shared/notice", type: "", notice: "" %>
</div>
