<div class="row">
  <div class="col-md-6 col-md-offset-1">
    <%= form_for [:admin, @request] do |f| %>
      <%= render "shared/error", object: f.object %>

      <div class="field">
        <%= f.label :book_name %><br>
        <%= f.text_field :book_name %>
      </div>
      <div class="field">
        <%= f.label :author %><br>
        <%= f.text_field :author %>
      </div>
      <div class="field">
        <%= f.label :description %><br>
        <%= f.text_field :description %>
      </div>
      <div class="field">
        <%= f.label :status %><br>
        <%= f.select(:status, Settings.roles_status, {}) %><br>
      </div>
      <br>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>
