<div class="col-md-6 col-md-offset-1">
  <div class="container">
    <strong><%= t "requests.book_name" %></strong>
    <%= @request.book_name %>
  </div>

  <div class="container">
    <strong><%= t "requests.author" %></strong>
    <%= @request.author %>
  </div>

  <div class="container">
    <strong><%= t "requests.description" %></strong>
    <%= @request.description %>
  </div>

  <div class="container">
    <strong><%= t "requests.status" %></strong>
    <%= @request.status %>
  </div>

  <%= link_to t "feature.edit", edit_admin_request_path(@request) %>
  <%= link_to t "feature.back", admin_requests_path %>
</div>
