%h1= t "admin.dashboard"
.row
  .col-xs-12{:align => "center"}
    = link_to t("admin.user"), admin_users_path, class: "btn btn-primary btn-lg w150"
      
    \#{link_to t("admin.category.label"), admin_categories_path, class: "btn btn-primary btn-lg w150"}  
    \#{link_to t("admin.book"), [:admin, :books], class: "btn btn-primary btn-lg w150"}  
    \#{link_to t("admin.request"), [:admin, :requests], class: "btn btn-primary btn-lg w150"}
