<%= link_to t("admin-user.new-user"), new_admin_user_path %>
<hr />
<h1><%= t "user.list-user" %></h1>
<div class="row">
  <div class="col-md-12">
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th><%= t "admin-user.id" %></th>
          <th><%= t "admin-user.name" %></th>
          <th><%= t "admin-user.email" %></th>
          <th><%= t "admin-user.created_at" %></th>
          <th><%= t "admin-user.book-favorite" %></th>
          <th><%= t "admin-user.book-read" %></th>
          <th><%= t "admin-user.total-review" %></th>
          <th><%= t "admin-user.total-comment" %></th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <%= render @users %>
      </tbody>
    </table>
    <%= will_paginate @users %>
  </div>
</div>
