%h1
  = @user.id
  \- #{@user.name}
.row
  .col-md-3
    %h1
      = gravatar_for @user, size: Settings.user.gravantar_size230
    .col-md-6
      = link_to t("feature.back"), admin_users_path, class: "btn btn-block btn-primary"
    .col-md-6
      = link_to t("admin-user.user-home"), "#", class: "btn btn-block btn-primary"
  .col-md-9
    %br/
    %table.table.table-condensed.table-striped
      %tr
        %th= t "admin-user.email"
        %td= @user.email
      %tr
        %th= t "admin-user.book-favorite"
        %td= @user.favorites.count
      %tr
        %th= t "admin-user.book-read"
        %td= @user.readings.count
      %tr
        %th= t "admin-user.total-review"
        %td= @user.reviews.count
      %tr
        %th= t "admin-user.total-comment"
        %td= @user.comments.count
      %tr
        %th= t "admin-user.total-request"
        %td= @user.requests.count
      %tr
        %th= t "admin-user.total-like"
        %td= @user.likes.count
