<% modal ||= false %>
<% remote = modal ? true : false %>
<%= form_for(review, html: {role: :form, "data-model": "review"}) do |f| %>
  <% if review.errors.any? %>
    <%= render "shared/error" %>
  <% end %>
  <div>
    <%= f.label :rating, class: "control-label" %><br>
    <%= f.select(:rating, (0..Settings.admin.books.max_rate).to_a, {}, {class: "form-control"}) %>
    <span class="help-block"></span>
  </div>
  <div>
    <%= f.hidden_field :user_id, value: review.user.id %>
    <%= f.hidden_field :book_id, value: review.book.id %>
  </div>
  <div class="form-group">
    <%= f.label :subject, class: "control-label" %><br>
    <%= f.text_field :subject, class: "form-control", require: true %>
    <span class="help-block"></span>
  </div>
  <div class="form-group">
    <%= f.label :content, class: "control-label" %><br>
    <%= f.text_field :content, class: "form-control", require: true %>
    <span class="help-block"></span>
  </div>
  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-default" %>
  </div>
<% end %>
